@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color: #000000;
}

h1 {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: #f1f1f1;
}

#subtitle {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #f1f1f1;
}

.flexboxContainer {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.flexboxContainer > div {
    width: 20%;
    height: 60%;
    background-image: linear-gradient(to right, rgba(12, 62, 224, 0), rgb(150, 105, 47));
    border-radius: 50px;
    flex-direction: column;
    gap: 5%;
    padding: 3%;
    transition-duration: 10ms;
    cursor: pointer;
    padding-left: 10px;
}

.flexboxContainer > div p{
    padding-left: 15%;
}

/* p{
    padding-left: 15%;
} */

a{
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;

}

img{
    width: 70%;
    padding-left: 20%;
}

.flexboxContainer > #box1:hover{
    background-color: #e44c268c;
    box-shadow: 20px 0 20px rgba(228, 76, 38, 0.667);
}

.flexboxContainer > #box2:hover{
    background-color: #2161af99;
    box-shadow: 20px 0 20px rgba(54, 155, 214, 0.589);
}

.flexboxContainer > #box3:hover{
    background-color: #c19e0396;
    box-shadow: 20px 0 20px rgba(231, 193, 4, 0.621);
}
/* .flexboxContainer > div:hover{
    background-color: #E44D26;
    box-shadow: 10px 0 15px rgba(228, 77, 38);
} */
